// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview
environment {
    EDITOR "nvim"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

// Disable the hot corners.
gestures {
    hot-corners {
        off
    }
}

// Input device configuration.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        numlock
    }

    mouse {
        scroll-method "on-button-down"
        scroll-button 274
        scroll-button-lock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        tap
        natural-scroll
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%" 
}

// You can configure outputs by their name, which you can find
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "HDMI-A-1" {
    mode "1920x1080"
    transform "normal"
    scale 1.0
}

output "eDP-1" {
    scale 1.125
}

// Settings that influence how windows are positioned and sized.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        width 2
        inactive-color "#595959aa"
        active-gradient from="#33ccffee" to="#00ff99ee" angle=45 relative-to="workspace-view"
    }

    background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        off
    }
}

// Window rules let you adjust behavior for individual windows.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
    open-maximized true
}

// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Add lines like this to spawn processes at startup.
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg --image $HOME/Pictures/wallpapers/moon.jpg"
spawn-sh-at-startup "~/.config/ignis/scripts/launch.sh"
spawn-sh-at-startup "ssh-agent -D -a /run/user/1000/ssh-agent.socket"

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some rounded corners.
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/screenshots/screenshot-%Y%m%d-%H%M%S.png"

hotkey-overlay {
    skip-at-startup
}

// Animation settings.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    slowdown 1.0
    horizontal-view-movement {
        curve "cubic-bezier" 0 0.8 0.13 1.03
    }
    workspace-switch {
        curve "cubic-bezier" 0 0.8 0.13 1.03
    }
    window-close {
        curve "ease-out-expo"
    }
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+X         { spawn-sh "pkill ignis || ~/.config/ignis/scripts/launch.sh"; }
    Mod+L         { spawn "swaylock"; }
    Mod+T         { spawn "kitty"; }
    Mod+E         { spawn-sh "kitty -e yazi"; }
    Mod+Space     { spawn "~/.config/rofi/launchers/type-3/launcher.sh"; }
    Mod+Escape    { spawn "~/.config/rofi/powermenu/type-5/powermenu.sh"; }
    Mod+B         { spawn "~/scripts/bluetooth.sh"; }
    Mod+S         { spawn-sh "playerctl play-pause"; }
    Mod+Shift+F12 { spawn "~/scripts/screenrec.nu"; }
    Shift+Print   { spawn-sh "grim -g \"$(slurp)\" - | satty -f -"; }
    Print         { screenshot; }
    Ctrl+Print    { screenshot-screen; }
    Alt+Print     { screenshot-window; }

    // You can also use a shell. Do this if you need pipes, multiple commands, etc.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    Mod+Q         { close-window; }
    Mod+O         { toggle-overview; }
    Mod+Left      { focus-column-left; }
    Mod+Shift+Tab { focus-column-left; }
    Mod+Right     { focus-column-right; }
    Mod+Tab       { focus-column-right-or-first; }
    Alt+Tab       { focus-column-right-or-first; }
    Mod+Down      { focus-window-down; }
    Mod+Up        { focus-window-up; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home      { focus-column-first; }
    Mod+End       { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+K     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+O         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+O         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R             { switch-preset-column-width; }
    Mod+Shift+R       { reset-window-height; }
    Mod+F             { maximize-column; }
    Mod+Shift+F       { fullscreen-window; }
    Mod+Ctrl+Shift+F  { toggle-windowed-fullscreen; }
    Mod+C             { center-column; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    Mod+Shift+P { power-off-monitors; }
}
