layout {
  gaps 8
  center-focused-column "never"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
  }

  border {
    on
    width 2
    inactive-color "#595959aa"
    active-gradient from="#33ccffee" to="#00ff99ee" angle=45 relative-to="workspace-view"
  }

  background-color "transparent"
}
