window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
    open-maximized true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
